/**
 * CRA-W theme for reveal.js. 
 *
 * By Thomas Goossens, t.goossens@cra.wallonie.be
 * adapted by F.Vanwidnekens
 */
/* @import url(~/.node_modules/reveal.js/lib/font/source-sans-pro/source-sans-pro.css); */
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #DBD4AD; }



/*

Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev

    col.di.blue <- "#037cb4"
    col.di.yellow <- "#fcd457"
    col.di.green <- "#82b429"
    col.di.orange <- "#f25c19"
    
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #3f3f3f;
  color: #dcdcdc;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
  color: #e3ceab;
}

.hljs-template-tag {
  color: #dcdcdc;
}

.hljs-number {
  color: #8cd0d3;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
  color: #efdcbc;
}

.hljs-literal {
  color: #efefaf;
}

.hljs-subst {
  color: #8f8f8f;
}

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: #efef8f;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #dca3a3;
}

.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
  color: #cc9393;
}

.hljs-addition,
.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #7f9f7f;
}


.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}



/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff;
  background-image: url("./images/logo-craw.png");
  background-repeat: no-repeat;
  background-position: left 3% bottom 3%;
  background-size: 13%;
}

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 38px;
  font-weight: normal;
  color: #222;
  text-align: left;}

::selection {
  color: #fff;
  background: #f392a0;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #f392a0;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
  margin: 0;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #f25c19;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  /* font-weight: 500; */
  /* line-height: 1.2; */
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal .title {
    text-shadow: none;
    color: #f25c19;
    font-size: 1.3em;
    text-align: right;
    margin-top: 15%;
    margin-left: 20%;
    margin-bottom: 10%; }


.reveal .title:before{
    width: 100%;
    content: " ";
    background-image: url(./images/logo-craw.png);
    position: fixed;
    left: 0%;
    top: 35%;
    margin-left: -50px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 25%;
}

.reveal .title:after{
    content: "";
    position: absolute;
    left: -1000px;
    top: 90%;
    height: 1000%;
    width: 1000%;
    background-repeat: repeat;
    background-color: #fff;
}

.reveal .title:after{
    width: 120%;
    content: " ";
    background-image: url(./images/banner_event.png); /*1756x180 pixels*/
    position: fixed;
    left: -15%;
    top:85%;
    /* margin-left: -150px; */
    height: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* .reveal .title:after{ */
/*     content: ""; */
/*     position: absolute; */
/*     left: -1000px; */
/*     top: 100%; */
/*     height: 1000%; */
/*     width: 1000%; */
/*     background-repeat: repeat; */
/*     background-color: #fff; */
/* } */


.reveal .author{
 color: #606060;
 font-size: 0.75em;
 text-align: right;
}

.reveal .date {
 color: #606060;
 /* color: #DEBFDF; */
 font-size: 0.75em;
 text-align: right;
}

.reveal h1 {
  font-size: 1.3em; }

.reveal h2 {
  font-size: 1.2em; }

.reveal h3 {
    font-size: 1.1em;
    font-weight: bold;
    /* color: #4392EF; */
    position: absolute;
    left: 25px;
    /* width: 80%; */
    padding-bottom: 70%;
    /* padding-left: 25%; */
}

.reveal h4 {
  font-size: 0.5em; }



/*********************************************
 * OTHER
 *********************************************/
.reveal p,
.reveal ul,
.reaveal ol,
.reveal table {
  margin: 0 0 0 25%;
  line-height: 1.3;
  text-align: left;
/*     text-align: center; */
/*     padding-left: 10%; */
  padding-top: 10%;
  border: 0;
}
.reveal ul {
    display: block;
}
.reveal ol {
    display: block;
}


/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  /* margin: 0 0 0 1em; */
}

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px 0 0 25%;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
    font-family: monospace;}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
    /* margin: auto; */
    border-spacing: 0;
    border: 2px solid;
    /* border-top-width: 3px; */
    border-right-width: 0px;
    /* border-bottom-width: 3px; */
    border-left-width: 0px;
    border-right-style: none;
    border-left-style: none;
    /* border-top-color: currentcolor; */
    /* border-right-color: currentcolor; */
    /* border-bottom-color: currentcolor; */
    /* border-left-color: currentcolor; */
    /* border-image-source: none; */
    /* border-image-slice: 100%; */
    /* border-image-width: 1; */
    /* border-image-outset: 0; */
    /* border-image-repeat: stretch; */
}

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #e61f3c;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #ee6478;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #DEBFDF;
  background: #a61328; }

/*********************************************
 * IMAGES
 *********************************************/
/* .reveal section img { */
/*   margin: 15px 0px; */
/*   background: rgba(255, 255, 255, 0.12); */
/*   border: 0px;} /\*added by fred*\/ */

/* commented by fred : */
  /* border: 4px solid #222;*/ 
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);*/

.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 0px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  display: block;  
 }


.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #e61f3c;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #e61f3c; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #e61f3c; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #e61f3c; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #e61f3c; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #ee6478; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #ee6478; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #ee6478; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #ee6478; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #e61f3c;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
